.button {
  background-color: #3c652e;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;

  &.danger {
    background-color: #e93c30;
  }

  &.primary {
    background-color: #1f5aa6;
  }

  &.secondary {
    background-color: #6f7362;
  }

  &.large {
    padding: 15px 60px;
  }
}
