.counter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &__input {
    flex: 5;
    margin-right: 30px;
  }

  &__selectbox {
    flex: 2;
    margin-right: 30px;
  }

  &__timer {
    flex: 1;
  }

  &__icon {
    cursor: pointer;
    font-size: 22px;
  }
}
