.form {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  &__inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  &__add {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
