.navbar {
  background: #5413c6;
  margin-bottom: 15px;

  &__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
  }

  &__list-element {
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0 30px;
    text-decoration: none;
  }
}
